<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="../public/css/general.css" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" >
</head>

<body>
    <header>
        <div class="search-bar">
            <img src="../public/images/logo-mercado-liebre.svg" width="200" alt="" >
            <form action="#" method="GET">
                <input type="text" placeholder="Buscar productos, marcas" name="search">
                <button type="submit">Buscar</button>
            </form>
            <h3><i class="fa-solid fa-hand-holding-dollar icono"></i>Compra en cuotas y sin tarjeta de crédito</h3>
        </div>
        
        
        
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Create tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li><a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
            
        </nav>
        
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        
        
    </header>
    <main>
        <section>
            <h2 class="titulares">Basado en tu última visita</h2>
            <article class="detalle">
                <h4 class="titulares">Cafetera Moulinex</h4>
                <img src="../public/images/img-cafetera-moulinex.jpg" width="200" alt="imagen cafetera">
                <p>$6.770</p>
                <p>40% OFF</p>
            </article>
            <article class="detalle">
                <h4 class="titulares">MacBook Pro 2019</h4>
                <img src="../public/images/img-macbook-pro-2019.jpg" width="200" alt="imagen macbook">
                <p>$230.000</p>
                <p>20% off</p>
            </article>
            <article class="detalle">
                <h4 class="titulares">Samsung Galaxy S10</h4>
                <img src="../public/images/img-samsung-galaxy-s10.jpg" width="200" alt="imagen galaxy">
                <p>$70.500</p>
                <p>10% off</p>
            </article>
            <article class="detalle">
                <h4 class="titulares">SmartTv Samsung 43"</h4>
                <img src="../public/images/img-tv-samsung-smart.jpg" width="200" alt="tv samsung">
                <p>$23.200</p>
                <p>5% off</p>
            </article>
        </section>
        <section>
            <h2 class="titulares">Seccion Ofertas</h2>
            <article class="detalle">
                <h4 class="titulares"> Cafetera Moulinex</h4>
                <img src="../public/images/img-cafetera-moulinex.jpg" width="200" alt="imagen cafetera">
                <p>$6.770</p>
                <p>40% off</p>
            </article>
            <article class="detalle">
                <h4 class="titulares">MacBook Pro 2019</h4>
                <img src="../public/images/img-macbook-pro-2019.jpg" width="200" alt="imagen macbook">
                <p>$230.000</p>
                <p>20% off</p>
            </article>
            <article class="detalle">
                <h4 class="titulares">Samsung Galaxy S10</h4>
                <img src="../public/images/img-samsung-galaxy-s10.jpg" width="200" alt="imagen galaxys10">
                <p>$70.500</p>
                <p>10% off</p>
            </article>
            <article class="detalle">
                <h4 class="titulares">SmartTv Samsung 43"</h4>
                <img src="../public/images/img-tv-samsung-smart.jpg" width="200" alt="imagen tv samsung">
                <p>$23.200</p>
                <p>5% off</p>
            </article>
        </section>
    </main>
    <footer>
        <ul class="descripciones">
            <li>
                <i class="fa-solid fa-credit-card"></i>
                <h4 class="titulares">Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                    efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </li>
            <li>
                <i class="fa-solid fa-gift"></i>
                <h4 class="titulares">Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                    miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </li>
            <li>
                <i class="fa-solid fa-user-shield"></i>
                <h4 class="titulares">Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
                    puedas hacer, porque estás siempre protegid@.
                </p>
            </li>
            <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
        </ul>
    </footer>
</body>

</html>