header{
    background-color: var(--amarillo);
    padding-bottom: 20px;
}

header .search-bar{
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.search-bar .container-logo{
    width: 50%;
    margin: 0;
}
.search-bar .container-logo img{
    width: 100%;
}
.search-bar .barra{
    width: 50%;
    padding-left: 7px;
    
}
header .search-bar h3{
    text-align: center;
    font-size: 13px;
    margin-top: 0;
    padding: 20px 0 15px 10px;
    width: 100vw;

}



header nav ul i{
    padding-left: 2px;
}

.burger-menu{
    text-align: center;
    width: 3rem;
    background-color: var(--celeste);
    margin: auto;
    padding: 7px 9px;
    border-radius: 5px;
    font-size: 16px;
}
.burger-menu .fas {
        color: white;
        font-size: 18px;

}
header nav{
    display: none;
}

header .menu-nav .menu-links, .menu-login{
    display: flex;
    gap: 20px;
}

.menu-links li, .menu-login li{
    list-style: none;
}
.menu-links li a, .menu-login li a{
    text-decoration: none;
    color: black;
}


.container-banner img{
    width: 100%;
}







    

  