@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500&family=Roboto:wght@100;300&display=swap');

:root {
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
  }
*{
  font-family: 'Roboto', sans-serif;
  
}  

body{
    background-color: var(--amarillo);
    font-size: 12px;
    
}

.titulares{
  font-size: 24px;
}


.detalle p:nth-child(3){
  font-size: 18px;
} 
.detalle p:nth-child(4){
  font-size: 16px;
}
.descripciones{
  text-align: center;
}
.descripciones li,p{
  font-size: 16px;
}
.descripciones i{
  font-size: 2em;
  margin-top: 10px;
  color: var(--celeste);
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.burger-menu {
  background-color: var(--celeste);
  color: var(--gris-claro);
  padding: 6px 9px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 50px;
  display: inline-block;
 


}

